body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: gray;
  background-size: cover;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: yellow;
  font-size: 30px;

}

.title {
  margin-top: 20px;
  font-size: 100px;
  color: white;
}

.temperature {
  text-align: center;
}

#getWeatherButton {
  font-size: 14px;
  padding: 3px 7px;
  background-color: rgb(219, 227, 253);
  color: black;
  margin-left: 240px;
  margin-top: -32px;
}

#clearButton {
  margin-left: 150px;
  margin-top: -27px;
  width: 25px;
  height: auto;
}

#locationInput {
  width: 180px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  margin-top: 10px;
}

.weather-wrapper {
  position: relative;
  font-size: 15px;
  color: black;
  text-align: center;
}

.pm-value {
  font-size: 25px;
  color: black;
  font-weight: bold;
  
}

.pm2_5-value {
  font-size: 25px;
  color: white;
  font-weight: bold;
  
}

.pollution-msg {
  font-size: 24px;
  font-weight: bold;
  color: blue;
  margin-top: 20px;
}

.icon img {
  width: 100%;
  height: auto;
}

.icon {
  width: 150px;
  height: 200px;
  margin-left: 100px;
}

.bg-sunny {
  background: url(sunny1.jpg) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-cloudy {
  background: url(cloudy.jpg) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-rainy {
  background: url(rain.gif) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.hidden-button {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
